@font-face {
    font-family: 'Texturina';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/Texturina-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('Texturina-Regular'),
      url(static/Texturina/Texturina-Regular.ttf-Regular.woff2) format('woff2'),
      url(-Texturina/TexturinaRegular.woff) format('woff'),
      url(https://Texturina/Texturina-Regular.ttf) format('truetype');
  }


/*--------------------------------------------Colors*/

tiled-background {
    background-image {
        url=(https://i.imgur.com/4AyyYLX.jpg);
    background-size: 300px;
    background-position-center: 300px;
    height: 300px;
    width: 300px;
    border: 2px solid;
    color: black;
  }
    
.uni-menu-color-home {
    background-color: #a4a7a7;
}

.ui-menu-color-events {
    background-color: #9b59b6;
}

.ui-menu-color-contact {
    background-color: #3498db;
}


.ui-menu-color-about4GD {
    background-color: #525252;  
}  

.ui-menu-color-about4GD {
    background-color: #525252;  
}  




/*--------------------------------------------Heading*/

header {
    h1, .special {
        color: black;
        margin: 1;
}

.heading {
    margin-left: 50px;
    background-color: #770e13;
    min-width: 620px;
    min-height: 300px;
    background: no-repeat;
    background-size: cover;

}

.logo {
    background:
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    min-width: 300px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Texturina", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Texturina" , sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;

    Events {
        font: Texturina;
        height: 150%;
        background-color: #9b59b6
        
    }