@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@500&display=swap');
font-family {
    font: Texturina;
        height: 200;
        width: 200;
        color: rgb(20, 20, 20);
        


/*--------------------------------------------Colors*/

.tiledBackground {
    background-image: url (https://i.imgur.com/4AyyYLX.jpg);
    background-size: 150px;
    width: 300px;
    height: 300px;
    border: 2px solid;
    color: black;
  }
    
.uni-menu-color-home {
    background-color: #a4a7a7;
}

.ui-menu-color-events {
    background-color: #9b59b6;
}

.ui-menu-color-contact {
    background-color: #3498db;
}


.ui-menu-color-about4GD {
    background-color: #525252;  
}  

.ui-menu-color-about4GD {
    background-color: #525252;  
}  




/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background:
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Texturina", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Texturina" , sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;